<header>
  <!-- Nav Bar -->
  <nav id="navbar" class="navbar navbar-light navbar-expand-sm {% if site.navbar_fixed %}fixed-top{% else %}sticky-top{% endif %}" role="navigation">
    <div class="container">
      <!-- Navbar Toggle -->
      <button
        class="navbar-toggler collapsed ml-auto"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>

      <div class="collapse navbar-collapse text-right" id="navbarNav">
        <ul class="navbar-nav ml-auto flex-nowrap">  
          <li class="nav-item">
            <a class="nav-link" href="#about" data-target="#about">
              <span> About me </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#education" data-target="#education">
              <span> Education </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#publications" data-target="#publications">
              <span> Publications </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#work" data-target="#work">
              <span> Work Experience </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#software" data-target="#software">
              <span> Software </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#events" data-target="#events">
              <span> Events </span>
            </a>
          </li>
          {% if site.enable_darkmode %}
            <!-- Toogle theme mode -->
            <li class="toggle-container">
              <button id="light-toggle" title="Change theme">
                <i class="ti ti-sun-moon" id="light-toggle-system"></i>
                <i class="ti ti-moon-filled" id="light-toggle-dark"></i>
                <i class="ti ti-sun-filled" id="light-toggle-light"></i>
              </button>
            </li>
          {% endif %}     
        </ul>
      </div>
    </div>
    {% if site.enable_progressbar %}
      <!-- Scrolling Progress Bar -->
      <progress id="progress" value="0">
        <div class="progress-container">
          <span class="progress-bar"></span>
        </div>
      </progress>
    {% endif %}
  </nav>
</header>
